@tailwind base;
@tailwind components;
@tailwind utilities;

.code,
.active {
  color: #21ff60ad;
}
/* 
.de {
  scroll-snap-type: none;
} */

body {
  background-color: #1e1e1e;
}

.lbl {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: white;
  font-family: 'Lexend';
  font-size: 16px;

  input,
  textarea {
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    background: #a79f9f50;
    font-size: 14px;
    /* border: 1px solid #21ff60ad; */
  }

  textarea {
    resize: none;
  }

  input:focus,
  textarea:focus {
    outline: 1px solid #21ff60ad;
  }
}

.shdw {
  box-shadow: #00000088 5px 20px 18px 10px;
  border: 2px solid #1e1e1e;
}

/* .sent {
  font-size: 26px;
  width: 70vw;
  margin: auto;
} */

@media screen and (max-width: 820px) {
  .lbl {
    font-size: 25px;

    input,
    textarea {
      width: 100%;
      font-size: 25px;
      padding: 18px 15px;
    }
  }
}

@media screen and (max-width: 545px) {
  .lbl {
    font-size: 18px;

    input,
    textarea {
      width: 100%;
      font-size: 18px;
      padding: 10px;
    }
  }
}
